{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Entry</h1>
    <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="title" placeholder="Title">
            <label for="floatingInput">Title</label>
          </div>          
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 450px" name="content"></textarea>
            <label for="floatingTextarea2">Markdown Content</label>
          </div>
          <input type="submit" value="New" class="btn btn-primary btn-lg">
    </form>
{% endblock %}